#home
  %p.title Bryan Tormey

  .images-container.scroller
    %div
      .image= image_tag "https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_960_720.png"
    %div
      .image= image_tag "https://www.w3schools.com/css/trolltunga.jpg"
    %div
      .image= image_tag "https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_960_720.png"
    %div
      .image= image_tag "https://www.w3schools.com/css/trolltunga.jpg"
    %div
      .image= image_tag "https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_960_720.png"
    %div
      .image= image_tag "https://www.w3schools.com/css/trolltunga.jpg"
  = render 'footer'
