.images_screens
  .panel.primary
    .panel-header
      %h1 Sign in
    .panel-body
      = form_tag sign_in_path do
        %fieldset
          %dl
            %dt= label_tag :email
            %dd= text_field_tag :email, nil, id: 'sign_in_email', placeholder: 'email@example.com'
            %dt= label_tag :password
            %dd= password_field_tag :password, nil, id: 'sign_in_password'
        %fieldset.actions
          = submit_tag "Sign In"
