.images_screens
  = render "admin_nav"
  .panel.primary
    .panel-header
      %h1= "Edit #{image.title}"
    .panel-body
      = form_for image do |f|
        %fieldset
          %dl
            %dt= f.label :title
            = f.text_field :title

            %dt= f.label :image
            = f.filestack_field :filepicker_url, "Select an image", class: "filepicker"

        %fieldset.actions
          = f.submit "Save"
