.images_screens
  = render "admin_nav"
  .panel.primary
    .panel-header
      %h1 Images

    .panel-body
      .cards
        - images.each do |image|
          .card
            .card-image
              = filestack_image image.filepicker_url
            .card-header
              %p= image.title
            .card-copy
              .action-links
                = link_to "View", image_path(image.id), class: "view"
                = link_to "Edit", edit_image_path(image.id), class: "edit"
                = link_to "Delete", image_path(image.id), method: :delete, class: "danger", data: {:confirm => ("Are you sure?" )}
