.images_screens
  = render "admin_nav"
  .panel.primary
    .panel-header
      %h1 New Image
    .panel-body
      = form_for image do |f|
        %fieldset
          %dl
            %dt= f.label :title
            = f.text_field :title

            %dt= f.label :priority_number
            = f.number_field :priority_number

            %dt= f.label :image
            = f.text_field :image_url, placeholder: "http://someimage.com/image.png"

        %fieldset.actions
          = f.submit "Add Image"
