.images_screens
  = render "admin_nav"
  .panel.primary
    .panel-header
      %h1= image.title
      %span.action-links
        = link_to "Edit", edit_image_path(image.id), class: "edit"
        = link_to "Delete", root_path, class: "danger"
    .panel-body
      - if image.image_url
        = image_tag image.image_url
      %p
        Priority number:
        = image.priority_number
