%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bryan Tormey

    = filestack_js_include_tag
    = filestack_js_init_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %link{href:'https://fonts.googleapis.com/css?family=Saira+Condensed', rel:'stylesheet', type: 'text/css'}
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href: "//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css", rel: "stylesheet", type: "text/css"}
    %script{src: "//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js", type: "text/javascript"}
    %meta{content: "Bryan Tormey, Bryan Tormey Photography, Blakada", name: "keywords"}


  - if @normal_view
    %body.normal#main
      .flash-messages
        - flash.each do |key, value|
          %div{ class: "alert alert-#{key}" }= value
      = yield
  - else
    %body.admin#main
      .flash-messages
        - flash.each do |key, value|
          %div{ class: "alert alert-#{key}" }= value
      = yield

